

:root{
	--theme-primary-color:#EDC35D;
	--body-clr: #231F20;
}

*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   
}

body{
   color: var(--body-clr);
}

section.form__section.base__bg{
   background-color: var(--theme-primary-color);
}



.app-button,
.black-bg{
   background: var(--body-clr) !important;
   background-color: var(--body-clr) !important;
   border-color: var(--body-clr) !important;
   color: #fff !important;
}

.app-button:hover{
   background-color: var(--theme-primary-color) !important;
   color: var(--body-clr) !important;
   border-color: var(--theme-primary-color) !important;
}

.base__form__wrapper .app-button:hover{
   background-color: var(--body-clr) !important;
   color: #fff !important;
}


.form-control::placeholder,
.form-control,
.check__box label{
   color: var(--body-clr) !important;
}

.sidebar .form-control,
.sidebar .form-control::placeholder
{
   color: #f7f7f7 !important;
}


/* DASHBOARD CSS START */

/* .brand-link span{
   border:1px solid var(--theme-primary-color);
   
} */

a.nav-link:hover {
   color: var(--theme-primary-color) !important;
}

.nav-link.active{
   background-color: var(--theme-primary-color) !important;
   color: var(--body-clr) !important;
}

.nav-link.active:hover{
   color: var(--body-clr) !important;
}

.info-box {
   padding: 20px;
}

.info-box-icon {
   width: 60px !important;
   height: 60px !important;
   background-color: var(--theme-primary-color) !important;
   color: var(--body-clr) !important;
   margin-bottom: -30px;
   transform: translateY(-40px);
}

.info-box-content {
   text-align: right;
   padding: 0px !important;
}

.info-box .info-box-number {
   margin-top: 0 !important;
   font-size: 2.5rem !important;
   color: var(--theme-primary-color);
   line-height: initial;
}


.app-yellow-button{
   background-color: var(--theme-primary-color) !important;
   color: var(--body-clr) !important;
   border:0;
}

.yellow-bg{
   background-color: var(--theme-primary-color);
   color: var(--body-clr);
}


.profile-image-wrap{
   border: 3px solid var(--theme-primary-color);
   margin: 0 auto;
   padding: 3px;
   width: 150px;
   height: 150px;
   border-radius: 100%;
}

.profile-image-wrap .profile-pic{
   width: 100% !important;
   height: 100% !important;
}

footer.main-footer{
   text-align: center;
}



footer.main-footer a{
   color: var(--body-clr);
}
footer.main-footer a:hover{
   color: var(--theme-primary-color);
}


table td{
   min-width: 50px;
}

table th{
   text-transform: capitalize;
}

.modal-header{
   background-color: var(--theme-primary-color);
   color: var(--body-clr);
}

.card-header .nav-link.active{
   background-color: var(--body-clr) !important;
   color: #fff !important;
}

input[type=file]::file-selector-button{
   border: 0;
   padding: 0;
   background-color: transparent;
 }

 .select2-container--default .select2-selection--single{
    border: 0 !important;
    padding: 7px 0px !important;
 }
 
 .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 15px !important;
 }

 .select2-container .select2-selection--single .select2-selection__rendered{
    padding: 0px !important;
 }


 .uploadimage img,
 .uploadimage video{
    max-width: 200px;
    width: 100%;
    margin-bottom: 20px;
 }

 .content-wrapper>.content{
   padding: 0 1rem;
}